[submodule "test/packages/EAMain"]
	path = test/packages/EAMain
	url = git@github.com:n-c0d3r/EAMain.git
[submodule "test/packages/EATest"]
	path = test/packages/EATest
	url = git@github.com:n-c0d3r/EATest.git
[submodule "test/packages/EAStdC"]
	path = test/packages/EAStdC
	url = git@github.com:n-c0d3r/EAStdC.git
[submodule "test/packages/EAAssert"]
	path = test/packages/EAAssert
	url = git@github.com:n-c0d3r/EAAssert.git
[submodule "test/packages/EASTL"]
	path = test/packages/EASTL
	url = git@github.com:n-c0d3r/EASTL.git
[submodule "test/packages/EABase"]
	path = test/packages/EABase
	url = git@github.com:n-c0d3r/EABase.git
